

#motto {
  width:auto;
  margin: 6px;
  padding: 6px;
  height: 50px;
  line-height:normal;
  background: #0F0404;
  position:relative;
  z-index:999;
  border-bottom:5px solid #3B95F4;
}	
#motto {
  margin: 6px;
  padding: 6px;
  float:none;
  position: relative;
  list-style: none;
  text-align:center;
}
#motto {
  font-weight: bolder;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-size:46px;
  color:#CF282B;
  text-decoration: none;
  display: block;
  padding: 0px;
  margin: 6px;
  margin-bottom: 6px;
}
#menu-bar {
  width:auto;
  margin: 6px;
  padding: 0px;
  height: 36px;
  line-height:normal;
  background:#0F0404;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bolder;
  font-family: georgia;
  font-style: oblique;
  font-size: 19px;
  color: #D9D9D9;
  text-decoration: none;
  display: block;
  padding: 6px 25px 6px 25px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  color: #0D0D0D;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #F5F5F5 !important;
  color: #3E85A3 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: -13px -14px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #E8E8E8;
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:16px;
  font-style:italic;
  font-family:georgia;
  font-weight: lighter;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}


#feed {
  width:auto;
  margin: 10px;
  padding: 10px;
  height: 44px;
  line-height:normal;
  background: #0F0404;
  position:relative;
  z-index:999;
}
#feed {
  margin: 10px;
  padding: 10px;
  float:none;
  position: relative;
  list-style: none;
  text-align:left;
}
#feed {
  font-weight: bolder;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-size:36px;
  color:#CF282B;
  text-decoration: none;
  display: block;
  padding: 10px;
  margin:0px;
  margin-bottom: 6px;
  margin-top:30px;
}
#news {
  width: 100%;
  margin: 30px;
  padding: 0px;
  height: 37px;
  line-height: 100%;
  background: #0F0404;
  position:relative;
  z-index:999;
}
#news {
  margin: 0px;
  padding: 0px;
  float:none;
  position: relative;
  list-style: none;
  text-align:left;
}
#news {
  font-weight:lighter;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-size:26px;
  color:#C0C5CB;
  text-decoration: none;
  display: block;
  padding: 0px;
  margin: 6px;
  margin-bottom:10px;
}


